.our-services-slider {
  height: 200px;
  margin: 80px 0;
  margin-bottom: 100px;
}
.services-slide {
  border: 1px solid #ededed;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-slide * {
  margin-bottom: 10px;
}
.services-slide h3 {
  font-size: 12px;
  font-weight: 800;
}
.services-slide p {
  font-size: 13px;
  color: grey;
}
.nav .previous,.custom-navigation .previous,
.nav .nexxt,.custom-navigation .nexxt {
  background: grey;
  color: white;
  font-size: 17px;
  border: 0;
  padding: 5px;
  margin: 1px;
}
.previous:active,
.nexxt:active {
  background: #f05908;
}
@media screen and (max-width: 900px) {
    .our-services-slider {
        max-width: auto !important;
    }
}
/* .slider-header h3{
    display: inline-block;
    width: fit-content !important;
}
.slider-header div{
    width: fit-content !important;
} */

.slider-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.slider-header h3 {
  margin-bottom: 40px;
  padding: 15px;
  border-bottom: 1px solid #f05908;
}
